<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title> 
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%- style %>
</head>
<body style="background-color: #68BBE3">
    <%- include('_header'); %>

    
    <%- body %>


    <!-- <%- include('_footer'); %> -->
    
    <%- script %>
    <script>
        <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500
                
            }).show();    
        <%} %>

        <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500
                
            }).show();    
        <%} %>
    </script>
</body>
</html>